.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-border-color: #244658;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: transparent;
}

.button:pressed {
    -fx-background-color: transparent;
}

.export-checkbox > .box {
    -fx-background-color: transparent;
    -fx-border-color: #244658;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-padding: 2px;
}

.export-checkbox:selected > .box {
    -fx-background-color: #244658;
    -fx-border-color:white;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-padding: 2px;
    -fx-mark-color: white;
}
.genre-menu {
    -fx-background-color: transparent;
    -fx-border-color: #244658;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.genre-menu > .arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.genre-menu .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.genre-menu .menu-item {
    -fx-background-color: #244658;
    -fx-border-color: #1e1e1e;
    -fx-border-width: 3px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.genre-menu .menu-item:hover {
    -fx-background-color: derive(#244658, 20%);
}

.genre-menu .menu-item:focused {
    -fx-background-color: derive(#244658, 40%);
}
.genre-menu .menu-item .label {
    -fx-text-fill: white;
}
genre-menu .check-box{
    -fx-background-color: transparent ;
}

.genre-menu .menu-item:selected .check-mark {
    -fx-mark-color: white;
}
.menu-button .label {
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-style: bold;
}
.menu-item{
    -fx-background-color: #1e1e1e;
    -fx-border-color: #244658;
    -fx-border-width: 4px;
}
.menu-item .label {
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 8px;
}