.scroll-bar {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 8px;
}

.scroll-bar .track {
    -fx-background-color: transparent ;
    -fx-background-radius: 8px;
    -fx-pref-height: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0, 0, 1);
}

.scroll-bar .thumb {
    -fx-background-color: #244658;
    -fx-background-radius: 10px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 4, 0, 0, 1);
}

.scroll-bar .thumb:hover {
    -fx-background-color: #244658;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #214258;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 8;
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-background-color: #2e2e2e;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: white;
}